# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

# Visual Studio files
*.suo
*.user

# Resharper rule
_ReSharper.StringCalculator
FluentAssertions.1.7.1.1
xunit.1.9.1
*.ncrunchsolution
